* {
  box-sizing: border-box;
}

:root {
  --bg-color-primary: #ffd351;
  --bg-color-hover: #ffbf00;
  --text-font-family: "Poppins", sans-serif;

  --scrollbar-width: 10px;
  --scrollbar-height: 10px;
  --scrollbar-border-radius: 20px;
  --scrollbar-thumb-color: var(--bg-color-hover);
  --scrollbar-track-color: rgba(0, 0, 0, 0.1);
  --scrollbar-button-color: rgba(0, 0, 0, 0.1);
  --scrollbar-corner-color: var(--bg-color-hover);
  --scrollbar-border-color: var(--bg-color-primary);

  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--text-font-family);
  overflow: auto;
}

header {
  z-index: 100;
  background-color: white;
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bg-color-primary);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-brand__logo {
  color: var(--bg-color-primary);
  animation: none;
}

.header-brand__logo:hover {
  animation: shake 0.2s infinite alternate;
}

@keyframes shake {
  0% {
    transform: translateX(-2px) translateY(-2px) rotate(-1deg);
  }
  100% {
    transform: translateX(2px) translateY(2px) rotate(1deg);
  }
}

.header-brand__title {
  color: black;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  font-weight: 400;
  list-style-type: none;
}

.main-nav__list-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.active {
  color: var(--bg-color-primary);
}

.main-nav__list-link:hover {
  color: var(--bg-color-primary);
}

.main-nav__list-icons {
  padding-right: 5px;
}

/* Main */

main {
  padding: 10px;
}

.section-home {
  height: 100vh;
  position: relative;
  background-color: #fcfcfc;
  border-radius: 5px;
  border: 5px dashed var(--bg-color-primary);
}

.container-section__Home {
  inset: 0;
  position: absolute;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .container-section__Home {
    padding: 0;
    position: absolute;
    display: flex;
    align-items: center;
    margin: auto;
    inset: 0;
    gap: 100px;
    flex-flow: row nowrap;
  }
}

.container-illustration {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media only screen and (min-width: 800px) {
  .container-illustration {
    width: 60%;
  }
}

.container-illustration img {
  width: 50%;
}

.container-description {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .container-description {
    margin-inline-end: 40px;
  }
}

strong {
  color: var(--bg-color-primary);
}

.button-section__Home {
  border: none;
  border-radius: 40px;
  padding: 20px;
  background-color: var(--bg-color-primary);
}

.button-section__Home:hover {
  transform: scale(1.1);
  background-color: var(--bg-color-hover);
}

.button-link-section__Home {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.section-menu {
  margin-top: 10px;
  border: 5px dashed var(--bg-color-primary);
}

.container-descrition {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.description-Paragraph {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: 700;
  color: var(--bg-color-hover);
}

.container-box {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  flex-basis: 400px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fcfcfc;
  border: var(--bg-color-primary) 1px solid;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.box:hover {
  transform: translateY(-2px);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.box-image {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: rgba(194, 194, 194, 0.075);
}

.box-image img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.box2 img {
  height: 268px;
}

.box-name {
  padding: 20px 0;
}

.box-name span {
  color: var(--bg-color-primary);
}

.box-description__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.7);
  border: var(--bg-color-primary) 1px solid;
  border-radius: 5px;
  opacity: 0;
  transition: background 0.5s ease, opacity 0.5s ease;
}

.box-description__container:hover {
  opacity: 1;
}

.box-description {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  color: white;
}

.box-description::-webkit-scrollbar {
  width: var(--scrollbar-height);
  height: var(--scrollbar-width);
}

.box-description::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-border-radius, 4px);
}

.box-description::-webkit-scrollbar-button {
  background: var(--scrollbar-button-color);
  border: 3px solid var(--scrollbar-border-color);
  border-radius: var(--scrollbar-border-radius);
}
